body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  background-color: bisque;
  min-width: 100vw;
  min-height: 100vh;
}
body header, body main, body footer {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
